main {
    background: url(./assets/colorful-abstract-nebula-space-background.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;
    z-index: -3;
}

.aboutheading {
    background: linear-gradient(92.92deg, #EE4623 26.53%, #0D0D0D 104.11%);
    background-clip: text;
}
.domainsheading {
    background: linear-gradient(266.82deg, #EE4623 26.53%, #0D0D0D 104.11%);
    background-clip: text;
}