main {
  /* background: url(./assets/colorful-abstract-nebula-space-background.jpg) no-repeat; */
  background-size: cover;
  height: 100%;
  width: 100%;

  top: 0;
  left: 0;
  z-index: -3;
}

.aboutheading {
  background: linear-gradient(92.92deg, #ee4623 26.53%, #0d0d0d 104.11%);
  background-clip: text;
  font-family: "Montserrat";
}
.domainsheading {
  background: linear-gradient(92.92deg, #ee4623 26.53%, #0d0d0d 104.11%);
  /* background: linear-gradient(266.82deg, #0d0d0d 26.53%, #ee4623 104.11%); */
  background-clip: text;
  font-family: "Montserrat";
}
.eventheading {
  background: linear-gradient(92.92deg, #ee4623 26.53%, #0d0d0d 104.11%);
  /* background: linear-gradient(266.82deg, #ee4623 26.53%, #0d0d0d 104.11%); */
  background-clip: text;
  font-family: "Montserrat";
}

#landing {
  margin-top: 13vh;
}
