.domainsbg {
  /* background-image: url(./assets/bg.svg); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.ninjacontainer {
  justify-content: center;
  align-items: center;
  height: 90vh;
  position: absolute;
  margin-top: 8vh;
  width: 100vw;
}
.domainBoxes {
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
  margin-top: 10vh;
  position: absolute;
  width: 100vw;
  height: 90vh;
}
.technical {
  height: 50vh;
  width: 20vw;
  border-radius: 20px;
  border: solid 2px white;
  position: absolute;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
